.rating {
    cursor: pointer;
    font-size: 2vh;
  }
   
  .one {
    color: rgb(128, 128, 128);
  }
   
  .two {
    color: rgb(128, 128, 128);
  }
   
  .three {
    color: rgb(128, 128, 128);
  }
   
  .four {
    color: rgb(128, 128, 128);
  }
   
  .five {
    color: rgb(128, 128, 128);
  }

  .avg {
    font-size: 2vh;
  }